{% extends 'BackendBundle:Default:layout.html.twig' %}

{% block content %}
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-md-6">
            <h4>Nº Queixas/Denúncias/Sugestões</h4>
        </div>
        <div class="col-md-6">
            <h4>Nº Queixas/Denúncias/Sugestões por Direções</h4>
        </div>
        <div class="col-md-6">
            <h4>Nº de Queixas/Denúncias/Sugestões por Mês</h4>
        </div>
        <div class="col-md-6">
            <h4>Nº de Queixas/Denúncias/Sugestões por Direções</h4>
        </div>
    </div>
{% endblock %}

