{% extends 'BackendBundle:Default:layout.html.twig' %}

{% block content %}
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="">
                    <h4 class="box-title">Nº Queixas/Denúncias/Sugestões</h4>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>                                        
                                <th>Mês/Ano</th>
                                <th>Queixas</th>
                                <th>Denúncias</th>
                                <th>Sugestões</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>janeiro 17</td>
                            </tr>
                            <tr>
                                <td>fevereiro 17</td>
                            </tr>
                            <tr>
                                <td>março 17</td>
                            </tr>
                            <tr>
                                <td>abril 17</td>
                            </tr>
                            <tr>
                                <td>maio 17</td>
                            </tr>
                            <tr>
                                <td>junho 17</td>
                            </tr>
                            <tr>
                                <td>julho 17</td>
                            </tr>
                            <tr>
                                <td>agosto 17</td>
                            </tr>
                            <tr>
                                <td>setembro 17</td>
                            </tr>
                            <tr>
                                <td>outubro 17</td>
                            </tr>
                            <tr>
                                <td>novembro 17</td>
                            </tr>
                            <tr>
                                <td>dezembro 17</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box">
                <div class="">
                    <h4 class="box-title">Nº Queixas/Denúncias/Sugestões por Direções</h4>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>                                        
                                <th>Direções</th>
                                <th>Queixas</th>
                                <th>Denúncias</th>
                                <th>Sugestões</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>DRF</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>DRSA</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>DSA</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title">Nº de Queixas/Denúncias/Sugestões por Mês</h4>
                </div>
                <div class="box-body no-padding">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box">
                <div class="">
                    <h4 class="box-title">Nº de Queixas/Denúncias/Sugestões por Direções</h4>
                </div>
                <div class="box-body no-padding">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

