{% extends 'BackendBundle:Default:layout.html.twig' %}

{% block content %}
<div ng-controller="DashboardController">
    {# <h1>Dashboard</h1>
    <p>Estatisticas sobre Denúncias, Queixas, Reclamações e Sugestões</p> #}

    {# <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="">
                    <h4 class="box-title">Nº Queixas/Denúncias/Sugestões</h4>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>                                        
                                <th>Mês/Ano</th>
                                <th>Queixas</th>
                                <th>Denúncias</th>
                                <th>Sugestões</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>janeiro 17</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>fevereiro 17</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>março 17</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>abril 17</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>maio 17</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>junho 17</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>julho 17</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>agosto 17</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>setembro 17</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>outubro 17</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>novembro 17</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>dezembro 17</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box">
                <div class="">
                    <h4 class="box-title">Nº Queixas/Denúncias/Sugestões por Direções</h4>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>                                        
                                <th>Direções</th>
                                <th>Queixas</th>
                                <th>Denúncias</th>
                                <th>Sugestões</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>DRF</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>DRSA</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>DSA</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div> 
    #}

    <div class="row">
        <div class="col-md-3">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>20</h3>
                    <p>Fevereiro</p>
                </div>
                <div class="icon">
                    <i class="fa fa-check"></i>
                </div>
                <a href="#" class="small-box-footer">
                    Reclamações registadas
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>17</h3>
                    <p>Fevereiro</p>
                </div>
                <div class="icon">
                    <i class="fa fa-thumbs-up"></i>
                </div>
                <a href="#" class="small-box-footer">
                    Reclamações respondidas
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>25</h3>
                    <p>Fevereiro</p>
                </div>
                <div class="icon">
                    <i class="fa fa-thumbs-down"></i>
                </div>
                <a href="#" class="small-box-footer">
                    Reclamações n&atilde;o respondidas
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>30</h3>
                    <p>Fevereiro</p>
                </div>
                <div class="icon">
                    <i class="fa fa-clock-o"></i>
                </div>
                <a href="#" class="small-box-footer">
                    Reclamações pendentes
                </a>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                </div>
                <div class="box-body no-padding">
                    <div id="by_month"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box">
                <div class="">
                </div>
                <div class="box-body no-padding">
                    <div id="by_department"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                </div>
                <div class="box-body no-padding">
                    <div id="by_day"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

