<table class="table table-hover table-striped">
    <thead>
        <tr>                                        
            <th>Nome</th>
            <th>Intervenientes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for ms in stages %}
            <tr>                                                                                    
                <td>
                    <a href="#">
                        {{ ms.stage.name }}
                    </a>
                </td>
                <td></td>
                <td>
                    <a href="#">
                        <span class="fa fa-remove text-danger"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>