<div class="col-md-3">
    <div class="small-box bg-green">
        <div class="inner">
            <h3>0</h3>
            <p>Fevereiro</p>
        </div>
        <div class="icon">
            <i class="fa fa-check"></i>
        </div>
        <a href="#" class="small-box-footer">
            Queixas
        </a>
    </div>
</div>
<div class="col-md-3">
    <div class="small-box bg-aqua">
        <div class="inner">
            <h3>0</h3>
            <p>Fevereiro</p>
        </div>
        <div class="icon">
            <i class="fa fa-thumbs-up"></i>
        </div>
        <a href="#" class="small-box-footer">
            Reclamações interna
        </a>
    </div>
</div>
<div class="col-md-3">
    <div class="small-box bg-red">
        <div class="inner">
            <h3>0</h3>
            <p>Fevereiro</p>
        </div>
        <div class="icon">
            <i class="fa fa-thumbs-down"></i>
        </div>
        <a href="#" class="small-box-footer">
            Reclamações externa
        </a>
    </div>
</div>
<div class="col-md-3">
    <div class="small-box bg-yellow">
        <div class="inner">
            <h3>0</h3>
            <p>Fevereiro</p>
        </div>
        <div class="icon">
            <i class="fa fa-clock-o"></i>
        </div>
        <a href="#" class="small-box-footer">
            Reclamações pendentes
        </a>
    </div>
</div>
